h2{
    text-align: center;
    border-style: solid;
    border-color: rgb(228, 149, 46);
    border-width: 2px;
    background-color: bisque;
    color: brown;
}
div#fp{
    text-align: center;
}
body{
background-image: url("resminizin adresi");
background-repeat: no-repeat;
background-size: cover;
}
#box1,#box3,#box2,#box5,#box4,#box6{
    border-style: solid;
    border-width: 1px;
    border-color: gray;
}
#box1{
    width: 50px;
    height: 50px;
    overflow: auto;
}
#box2{
    width: 75px;
    height: 75px;
}
#box3{
    width: 150px;
    height: 150px;
    text-align: center;
    letter-spacing: 2px;
    word-spacing: 5px;
    border-radius: 15px;
    padding: 5px;
    box-shadow: 5px 5px 10px;
}
#box4{
    width: 150px;
    height: 150px;
    position: absolute;
    right: 0px;
    bottom: 0px;
    background-color: violet;
}
#box4:hover{
    opacity: 0;
}
#box5{
    width: 75px;
    height: 75px;
    position: absolute;
    background-color: antiquewhite;
}
#box6{
    width: 37px;
    height: 37px;
    position: absolute;
    margin-left: 0px;
    background-color: teal;
    opacity: 0.4;
}
#sl{
    font-size: 25px;
    font-style: italic;
    text-shadow: 3px 2px 3px ;
    
}